@charset "UTF-8";

@font-face {
    font-family : 'GmarketSansMedium';
    src : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight : normal;
    font-style : normal;
}

tbody {
	font-family : 'GmarketSansMedium';
	
}
.type {
	background-color : OldLace;
}
table {
	margin-left:auto;
	margin-right:auto;
}

.button, button {
	font-family : 'GmarketSansMedium';
    line-height: 2.5;
    padding: 0 40px;
    font-size: 0.8rem;
    background-color : OldLace;
}
