@charset "UTF-8";

@font-face {
    font-family : 'GmarketSansMedium';
    src : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight : normal;
    font-style : normal;
}

body{
	font-family : 'GmarketSansMedium';
}

h1, h2, h3, h4, h5, h6{
	text-align : center;
}

#DivA{
	text-align : right;
	padding : 1%;
}

#DivMenuBar{
	margin : auto;
	text-align : center;
	vertical-align : meddle;
	background-color : MistyRose;
	padding : 1%;
	height : 30px;
}

#Table{
	text-align : center;
	width:80%
}

.ButtonA{
	text-decoration : none;
	background-color : Beige;
	padding : 0.5%;
	border : 1px solid Black;
	border-radius : 7%;
	overflow : hidden;
}

.MenuA{
	text-decoration : none;
	width : 150px;
	padding : 6%;
	font-size: 18px;
}

a{
	text-decoration : none;
}