@charset "UTF-8";

@font-face {
    font-family : 'GmarketSansMedium';
    src : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight : normal;
    font-style : normal;
}

.row,.searchBox{
	font-family : 'GmarketSansMedium';
	display:flex;
	justify-content:center;
}

.main {
	margin-left:auto;
	margin-right:auto;
}
.result {
	font-family : 'GmarketSansMedium';
}

select, .form-control, button {
	font-family : 'GmarketSansMedium';
	display:flex;
	justify-content:center;
	border: 20;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 1rem;

}
select.select_controller{
	padding : 10px;
	margin:0px;
}
a{
	text-decoration : none;
}
.type ,button{
	background-color : OldLace;
}

