@charset "EUC-KR";

@font-face {
    font-family : 'GmarketSansMedium';
    src : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight : normal;
    font-style : normal;
}

select, input, button{
	font-family : 'GmarketSansMedium';
	display:flex;
	justify-content:center;
	border: 20;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 1rem;

}
select{
	padding : 10px;
	margin:0px;
}

body{
	font-family : 'GmarketSansMedium';
}

h1, h2, h3, h4, h5, h6{
	text-align : center;
}

div{
	margin : auto;
	vertical-align : meddle;
}

form{
	display : inline-block;
	background-color : OldLace;
	text-align: left;
	padding : 2%;
	width : 95%;
}

table{
	background-color : OldLace;
}

button{
	background-color : OldLace;
	float : right;
}

img{
	border-radius : 100%;
	overflow : hidden;
}

a{
	text-decoration : none;
}

#LibraryImg{
	border-radius : 0%;
	width : 100%;
}

#AboutLibrary{
	background-color : Linen;
	text-align : justify;
	padding : 2%;
}

#BookSearch{
	background-color : rgb(255,255,255);
}

#BookSearchList{
	width : 97%;
}

#BookImage{
	border-radius : 0%;
	width : 250px;
}

#BookDetail{
	font-family : 'GmarketSansMedium';
	display : flex;
	justify-content : center;	
}

#BookExplain{
	text-align : justify;
}

#searchBox{
	font-family : 'GmarketSansMedium';
	display : flex;
	justify-content : center;
	background-color : White;
}

.searchForm{
	background-color : White;
}

.searchDiv{
	background-color : White;
}

.searchTableTitle{
	background-color : OlbLace;
}

.searchTableList{
	background-color : White;
}
